<ef-layout flex>
  <ef-layout>
    <ef-card
      style="margin: 10px"
      header="Best Large Cap Mutual Funds"
      footer="Source: Groww"
    >
      <ef-accordion>
        <ef-collapse expanded spacing header="JM Large Cap Fund">
          The JM Large Cap Fund Direct Plan Growth has been there from 01 Jan
          2013 and the average annual returns provided by this fund is 49.80%
          since its inception.
        </ef-collapse>
        <ef-collapse
          spacing
          header="ICICI Prudential Bluechip Fund Direct Growth"
        >
          The ICICI Prudential Bluechip Fund Direct Growth has been there from
          01 Jan 2013 and the average annual returns provided by this fund is
          43.47% since its inception.
        </ef-collapse>
        <ef-collapse spacing header="Nippon India Large Cap Fund Direct Growth">
          The Nippon India Large Cap Fund Direct Growth has been there from 31
          Dec 2012 and the average annual returns provided by this fund is
          40.54% since its inception.
        </ef-collapse>
      </ef-accordion>
      <div style="padding: 10px 0">
        Large-capitalization funds are the type of equity funds that invest a
        big proportion of their assets under management in equity shares of
        companies that have a large market capitalization. Along with that,
        large cap companies are the ones known to have a strong reputation in
        the market. A list of the best large cap funds is given below.
      </div>
    </ef-card></ef-layout
  >
  <ef-layout>
    <ef-card
      style="margin: 10px"
      header="Best Mid Cap Mutual Funds"
      footer="Source: Groww"
    >
      <ef-accordion>
        <ef-collapse spacing header="Motilal Oswal Midcap Fund Direct Growth">
          The Motilal Oswal Midcap Fund Direct Growth has been there from 24 Feb
          2014 and the average annual returns provided by this fund is 64.92%
          since its inception.
        </ef-collapse>
        <ef-collapse expanded spacing header="Quant Mid Cap Fund Direct Growth">
          The Quant Mid Cap Fund Direct Growth has been there from 07 Jan 2013
          and the average annual returns provided by this fund is 57.40% since
          its inception.
        </ef-collapse>
        <ef-collapse
          spacing
          header="Mahindra Manulife Mid Cap Fund Direct Growth"
        >
          The Mahindra Manulife Mid Cap Fund Direct Growth has been there from
          30 Jan 2018 and the average annual returns provided by this fund is
          57.92% since its inception.
        </ef-collapse>
      </ef-accordion>
      <div style="padding: 10px 0">
        A mid cap fund is a pooled investment focusing on companies with a
        market capitalization in the mid-range of listed stocks. The underlying
        companies of this stock (mid-sized companies) offer relatively higher
        returns than large-cap companies, with a lower risk factor than
        small-cap funds. Provided below is the list of the best mid cap mutual
        funds in the market currently.
      </div>
    </ef-card></ef-layout
  >
  <ef-layout>
    <ef-card
      style="margin: 10px"
      header="Best Low Cap Mutual Funds"
      footer="Source: Groww"
    >
      <ef-accordion>
        <ef-collapse spacing header="Nippon India Small Cap Fund Direct Growth">
          The Nippon India Small Cap Fund Direct Growth has been there from 31
          Dec 2012 and the average annual returns provided by this fund is
          49.81% since its inception.
        </ef-collapse>
        <ef-collapse spacing header="Quant Small Cap Fund Direct Plan Growth">
          The Quant Small Cap Fund Direct Plan Growth has been there from 07 Jan
          2013 and the average annual returns provided by this fund is 55.35%
          since its inception.
        </ef-collapse>
        <ef-collapse
          expanded
          spacing
          header="Bank of India Small Cap Fund Direct Growth"
        >
          The Nippon India Large Cap Fund Direct Growth has been there from 31
          Dec 2012 and the average annual returns provided by this fund is
          40.54% since its inception.
        </ef-collapse>
      </ef-accordion>
      <div style="padding: 10px 0">
        The Bank of India Small Cap Fund Direct Growth has been there from 19
        Dec 2018 and the average annual returns provided by this fund is 52.27%
        since its inception.
      </div>
    </ef-card></ef-layout
  >
</ef-layout>
